@model DomesticViolenceWebApp.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            User Id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Age
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            Gender
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            Contact One
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emergencyContactOne)
        </dd>

        <dt>
            Contact Two
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emergencyContactTwo)
        </dd>

        <dt>
            Contact Three
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emergencyContactThree)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { userId = Model.userId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
